/* Font Styles */
html, body {
    font-family: 'Lato', sans-serif;
}

p {
    font-weight: 100;
    font-size: 18px;
    color: #57606f;
}

/* Parent styles */
body{
    display: flex;
    flex-direction: column;
    padding: 0;
    border: 0;
    margin: 0;
}

/* Button Styles */
.btn {
    font-size: 15px;
    background-color: #3498db;
    color: white; 
    padding: 10px;
    border: none;
    border-radius: 5px;    
}

/* Sign Up Section Styles */
.signUpSection {
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.5), 
            rgba(0, 0, 0, 0.5)
        ),
        url('./assets/steinhuder.jpg');
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
}

.signUpSection h2 {
    color: white;
    font-size: 43px;
}

/* Button Alignment Styles */
.signUpSection button {
    flex-grow: 1;
    font-size: 20px;
    padding: 15px 20px;
    margin-left: 10px;
    height: 100%;
}

/* Input Section Styles */
.inputSection {
    height: 50px;
    width: 100%;
    display: flex;
}

/* Input Styles */
input {
    box-sizing: border-box;
    padding: 3px;
    font-size: 19px;
    flex-grow: 3;
    border: none;
    border-radius: 5px;
    padding: 10px;
    height: 100%;
}

.btn:hover{
    background-color: #2980b9;
    cursor: pointer;
}



/* Header Styles */
header{
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
    align-items: center;
}

h1.pageTitle{
    font-size: 20px;
    font-weight: normal;
}
/* End of Header Styles */

/* Sign Up Section Styles */
/* section {
    background-color: gray;
}  */

/* feature overview styles */
.featureOverview {
    padding: 50px 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.featureOverview img {
    width: 70px;
}

/* Feature Detail Styles */
.featureDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featureTextContainer {
    margin: 70px 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.featureTextContainer h2 {
    margin-bottom: 0px;
}

.featureDetail img {
    width: 100%;
}

/* Testimonial Styles */
.testimonialsSection {
    background-color: #f1f2f6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonialsSection h2 {
    margin-top: 100px;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.testimonial h3 {
    margin-bottom: 0;   
}

.testimonial p {
    margin-top: 2px;   
}

.testimonial img {
    border-radius: 50%;
    width: 200px;
}

/* Second sign up section */
.bottomSignUpSection{
    height: 300px;
}

/* Footer Styles */
footer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer p {
    margin: 0;
    font-size: 14px;
}

ul.links{
    color: #3498db;
    display: flex;
    justify-content: center;
}

.links li {
    margin-right: 30px;
    list-style: none;
    cursor: pointer;
}

.socialIcons img{
    width: 30px;
    margin: 0 10px;
    cursor: pointer;
}

/* attribution styles */
.attribution, .attribution a{
    font-size: 15px;
    color: #57606f;
}

.attribution {
    margin-top: 50px;
}

/* media queries */
@media only screen and (min-width: 0px) {
    .signUpSection h2{
        font-size: 35px;
    }

    .signUpSection .inputSection{
        flex-direction: column;
        height: 100px;
    }
    .inputSection input, .inputSection .btn {
        font-size: 18px;
        padding: 0 5px;
    }

    .inputSection input{
        box-sizing: border-box;
    }
    .inputSection .btn{
        margin-left: 0;
    }
    
    .bottomSignUpSection{
        min-height: 400px;
    }

    .bottomSignUpSection h2{
        font-size: 30px;
    }

    ul.links{
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 769px) {
    
}